body {
    
    background-repeat: repeat;
    background-color: lightblue;
   }

.title {
    text-align: center;
}

.start {
    text-align: center;
}

.countdown {
    font-size: 20px;
    background-color: darkgray;
    padding: 10px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

#myQuiz {
    word-spacing: 1px;
    
}

