body {
    
    background-repeat: repeat;
    background-color: lightblue;
   }

.title {
    text-align: center;
}

.start {
    text-align: center;
}

.countdown {
    font-size: 20px;
    background-color: darkgray;
    padding: 10px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

#myQuiz {
    word-spacing: 1px;  
}

#text {
    font-size: 40px;
    text-align: center;
    font-family: cursive;
}

#correct {
    font-size: 20px;
    text-align: center;
}

#open {
    margin-bottom: 50px;
}